* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-decoration-color: #333;
}




html {
    font-family: "Open Sans" , sans-serif;
}
    /* navbar bölümü */
#navbar {
    color: white;
    display: flex; /* yan yana alma işlemi */
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 50px;
}
#navbar img {
    border-radius: 32px;
    border: 2px solid white
}
/*
#navbar img:hover {
    border-color: rgb(150, 38, 38);
    transition-duration: 0.2s;
}
*/
        /* home bölümü */
#home {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #060809;
}
#home img {
    max-width: 20rem;
    height: auto;
    border-radius: 100%;  
}
#home h1 {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    color: white;
    letter-spacing: 2px; /* Harf aralığı */
}
#home .name p {
    opacity: 0.6;
    margin-bottom: 1rem;
    color: white;
}
#home .contact {
    margin-top: 1.5rem;
}
#home .contact a:nth-child(1) {
    padding: 8px 40px;
    color: white;
    border: solid 2px rgb(63, 63, 241);
    background-color: rgb(63, 63, 241);
    border-radius: 10px;
    letter-spacing: 1px;
}
#home .contact a:nth-child(1):hover {
    color: rgb(63, 63, 241);
    background-color: #12181F;
    transition-duration: 0.6s;

}
#home .contact a:nth-child(2) {
    padding: 8px 20px;
    color: white;
    border: solid 2px #96336e;
    background-color: #96336e;
    border-radius: 10px;
    letter-spacing: 1px;
}
#home .contact a:nth-child(2):hover {
    color: #96336e;
    background-color: #12181F;
    transition-duration: 0.6s;
}
#home .contact a:nth-child(3) {
    padding: 8px 50px;
    color: white;
    border: solid 2px rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
    letter-spacing: 1px;
}
#home .contact a:nth-child(3):hover {
    color: rgb(99, 99, 99);
    background-color: #12181F;
    transition-duration: 0.6s;

}
    /* Bölümler kısmı*/

#bölümler {
    color: white;
    padding: 1rem;
}
#bölümler .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bölümler .items .item {
    width: 30%;
    text-align: center;
    padding: 1rem;
}
#bölümler .items .item:hover {
    border: 5px solid #336ea2;
    border-radius: 20px;
    transition-duration: 0.1s;
}







.grid-container {
    columns: 4; /* Kaç kolon olacağını belirler */
    column-gap: 10px; /* Kartlar arasındaki boşluk */
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #202020;
    min-height: 95vh;
}

.grid-container a{
    text-decoration: none;
    color: #ffffffa4;
    transition-duration: 0.2s;
}
.grid-container a:hover{
    color: #ffffff;
}



.grid-item {
    
    display: flex; /* Flexbox kullanımı */
    flex-direction: column; /* Dikey hizalama */
    justify-content: center; /* Dikey ortalama */
    align-items: center; /* Yatay ortalama */

    margin: 0 0 10px;
    width: 100%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    break-inside: avoid; /* Kartların bölünmesini engeller */
    background-color: #333;
    transition-duration: 0.2s;
}

.grid-item:hover{
    box-shadow: 0 0px 12px rgba(255, 255, 255, 0.232);
    text-decoration-color: white;
}


.grid-item img{
    height: 150px;
}


.grid-item h2 {
    font-size: 1.5em;
    color: #333;
}
.grid-item p {
    font-size: 1em;
    color: #666;
}
/* Responsive tasarım için */
@media (max-width: 1200px) {
    .grid-container {
        columns: 3;
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 900px) {
    .grid-container {
        columns: 2;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (max-width: 600px) {
    .grid-container {
        columns: 1;
        padding-left: 40px;
        padding-right: 40px;
    }
}

footer{
    color: white;
    background-color: #060809;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: white;
    margin-left: 10px;

}

.h1{
    height: 150px;
}

.h1 img{
    height: 130px;
    filter: brightness(0.5) opacity(0.7);
    transition-duration: 0.4s;
    border-radius: 5px;
}

.h1 img:hover{
    height: 134px;
    filter: brightness(1.1) opacity(1);
}

.h2{
    height: 40px;
}
.h3{
    height: 200px;
}
.h4{
    height: 60px;
}
.h5{
    height: 300px;
}
.h6{
    height: 50px;
}
.h7{
    height: 110px;
}
.h8{
    height: 50px;
}
.h9{
    height: 300px;
}
.h10{
    height: 110px;
}
.h11{
    height: 150px;
}
.h11 img{
    height: 60px;
}
.h11 p{
    margin-top: 15px;
}
.h12{
    height: 150px;
}
.h12 img{
    height: 120px;
}
.h13{
    height: 50px;
}
.h14{
    height: 100px;
}



.decode-text {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  @media (max-width: 600px) {
    .decode-text{
        font-size: 20px;
    }
  }
  .space {
    display: inline-block;
    width: 10px;
  }
  .text-animation {
    display: inline-block;
    position: relative;
    color: transparent;
    text-transform: uppercase;
    &:before {
      content: "";
      color: rgb(181, 181, 181);
      position: absolute;
      top: 50%;
      left: 50%;
      background: #aeaeae;
      width: 0;
      height: 1.2em;
      -webkit-transform: translate(-50%, -55%);
      -ms-transform: translate(-50%, -55%);
      transform: translate(-50%, -55%);
    }
    &.state-1 {
        &:before {
          width: 1px;
        }
      }
      &.state-2 {
        &:before {
          width: 0.9em;
        }
      }
      &.state-3 {
        color: rgb(102, 102, 102);
        &:before {
          width: 0;
        }
      }
    }
    
    #refresh {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }
    @import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
    div {
      font-family: "Share Tech Mono", monospace;
    }